/* ContactForm.css */
#form {
    padding: 50px 20px;
    background-color:  #001f3f;
    height: 100vh;
  }
  
  .input-field {
    width: 500px;
    height: 50px;
    margin-bottom: 10px;
    display: block;
  }
  
  .form-button {
    background-color: orange;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    display: block;
  }
  .contacth2 {
    font-size: 22px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #ffffff; /* White text */
  }
  