#navbar {
  height: 80px;
  background-color: 	#046169;
  color: white;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 50px;
  
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

h2 {
  font-size: 30px;
  letter-spacing: 2px;
  transition: color 0.3s, font-size 0.3s;
}

h2:hover {
  font-size: 32px;
  color: orange;
}

ul {
  list-style: none;
  display: flex;
  gap: 30px;
  font-size: 20px;
}

a {
  text-decoration: none;
  color: white;
  transition: color 0.3s;
}

.link :hover {
  font-size: larger;
}
